* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.google_font {
	font-family: 'IM Fell DW Pica', serif;
	font-style: italic;
	font-size: 40px;
}

.black_writing {
	color: black;
}

.white_writing {
	color: white;
}

.bold {
	font-weight: bold;
}

.debi_pic {
	max-height: 100px;
	float: left;
	z-index: 10000;
	border-radius: 50%;
	margin-right: 14px;
}

.debi_pic::after {
	clear: both;
}

/* NAVBAR */

nav {
	background-image: url("../images/navbar-ocean.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover {
	color: yellow;
}

.navbar-default .navbar-toggle {
	background-color: white;
}

.nav>li>a {
	padding-top: 0;
	padding-bottom: 30px;
}

.navbar-brand {
	line-height: 1;
}

/* SOCIAL IMAGE ICONS */

.social img {
	height: 50px;
	width: 50px;
	border-radius: 4px;
	padding-top: 0;
}

/* BANNER */
.navbar-brand {
	height: 200px;
	margin-bottom: 10px;
}

.debi {
	 font-size: 50px;
}

.whiteWriting {
	color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: white;
	background-color: teal;
	border-radius: 4px;
}

.phone {
	font-size: 30px;
	color: white;
	float: right;
	clear: right;
}

/* HOME PAGE */

.quote_box::before, .quote_box::after {
	clear: both;
	margin-left 0 auto;
}

.quote {
	font-size: 1.6em;
	font-style: italic;
	padding: 0 5%;
	margin: 5% auto;
	text-align: center;
}

.debi_quote {
	/*max-width: 80%;*/
	margin-left: 0;
	font-size: 31px;
	// font-style: normal;
	// font-weight: bold;
	margin-bottom: 20px;
	margin-top: 10px;
	background-color: #008080;
	border-radius: 5px;
}

h4 {
	text-align: center;
}

.home_page_titles {
	color: white;
	background-color: teal;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 5px;
	display: inline;
}

.fundamentals {
	margin-bottom: 20px;
	text-align: center;
}

.fundamentals, .home_page_titles {
	
}
.fundamentals > li {
	font-size: 18px;
	list-style-type: none;
}


// .first_bullet_part {
// 	background-color: #f9ee70;
// }

// .second_bullet_part {
// 	background-color: #38ea76;
// }

// .end1 {
// 	background-color: #00f7d6;
// }

// .end2 {
// 	background-color: #f9ee70;
// }

/* 3 BOXES */

.boxes img {
	width: 100%;
	max-width: 500px;
	height: auto;
	margin-bottom: 6%;
	display: block;
	border-radius: 5px;
}

.col-md-4 {
	position: relative;
	overflow: hidden;
}

.inside_box {
	position: absolute;
	top: 227px;
	color: transparent;
	height: 500px;
	transition: top .7s;
	text-align: center;
	left: 0;
	margin-left: 12px;
	width: 100%;
}

.inside_box>div {
	color: white;
	opacity: 0.92;
	border-radius: 3px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 25px;
}

.one_line {
	white-space: nowrap;
	padding-bottom: 15px;
}

.inside_box>p {
	margin-left: 2%;
	margin-right: 25px;
	text-align: left;
}

.col-md-4:hover .inside_box, .inside_box>div {
	top: 0;
	opacity: 0.92;
	background-color: white;
	color: green;
}

/* 3 BOXES END */

article {
	font-size: 2em;
	background-color: white;
	opacity: 0.8;
	border-radius: 4px;
}

.home_final_phrase {
	font-weight: bold;
	font-size: 28px;
	text-align: center;
}

.homepage_aboutlink {
	color: white;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.homepage_aboutlink a {
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	background-color: #008080;
	box-sizing: border-box;
	
}
/* ABOUT ME */

.debi_home_pic {
	max-height: 150px;
	border-radius: 100%;
	float: right;
	margin-right: 11%;
}

.debi_life_coach article, p {
	font-size: 18px;
}

.debi_life_coach h1 {
	text-align: center;
}

.debi_stickeler_life_coach_picture {
	border-radius: 100%;
	max-height: 400px;
}

.debi_stickeler_life_coach_picture::before, .debi_stickeler_life_coach_picture::after {
	clear: both;
}

// .about_me p {
// 	font-size: 18px;
// }

.thurman_quote {
	// font-size: 36px;
	margin-top: 30px;
	font-style: italic;
	font-size: 1.6em;
    margin: 5% auto;
    text-align: center;
    margin-bottom: 2%;
}

.howard {
	text-decoration: italic;
	margin-bottom: 40px;
	margin-right: 7%;
	text-align: center;
}

.about_me_tabs {
	color: white;
	background-color: teal;
	width: 400px;
	text-align: center;
	border-radius: 4px;
	margin-bottom: 2%;
	letter-spacing: 5px;
	font-size: 20px;
}

.explanation h2::after {
	clear: both;
}

.explanation p {
	margin-bottom: 10px;
}

/* ABOUT ME END */

/* CONTACT ME*/

.contact_boxes {
	position: relative;
	bottom: 100px;
	color: white;
	text-align: center;
}

.contact {
	margin: 0 auto;
	text-decoration: bold;
	font-size: 40px;
	text-align: center;
	background-color: teal;
	margin-bottom: 20px;
	padding: 20px 0;
	border-radius: 5px;
}

.contact a {
	color: white;
}

.paypal {
	margin-bottom: 20px;
}

.testimonials {
	background-color: black;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	padding-bottom: 30px;
	padding-top: 30px;
	text-align: center;
	width: 100%;
}

.testimonial {
	font-size: 1.3em;
	display: block;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 40px;
	max-width: 70%;
}

.testimonial:nth-child(even) {
	color: white;
	float: left;
	background-color: teal;
	border-radius: 4px;
	padding: 10px;
}

.testimonial:nth-child(odd) {
	color: white;
	background-color: #5db4f7;
	float: right;
	border-radius: 4px;
	padding: 10px;
}

/* CONTACT ME END */

/* FOOTER */ 
.cred li {
	display: inline;
	margin-left: 5%;
}

footer {
	background-color: lightgray;
	height: 40px;

}

/* MEDIA QUERIES */


@media(max-width: 1199px) {
	.inside_box {
		top: 175px;
	}
	.inside_box p {
		font-size: 16px;
	}
}
 
@media(max-width: 1068px) {
	.phone {
		display: none;
	}
	.inside_box {
		top: 175px;
	}
}

@media(max-width: 991px) {
	.inside_box {
		max-width: 500px;
	}
	.col-md-4 {
		margin-left: auto;
		margin-right: auto;
		width: 500px;
	}
	.inside_box div {
		font-size: 30px;
		padding-bottom: 30px;
	}
	.inside_box p {
		font-size: 25px;
	}
	.inside_box {
		top: 270px;
	}
}

@media(max-width: 768px) {
	.navigation {
		margin-bottom: 10px;
	}
	.social img {
		display: none;
	}
	.inside_box {
		top: 270px;
	}
}

@media(max-width: 550px) {
	.email {
		font-size: 30px;

	}
}

@media(max-width: 500px) {
	.col-md-4>img, .inside_box {
		width: 380px;
	}
	.inside_box {
		top: 220px;
		font-size: 20px;
		width: 390px;
	}
	.one_line {
		padding-bottom: 10px;
		line-height: .9;
	}
	.inside_box>p {
		font-size: 19px;
	}
}

@media(max-width: 420px) {
	.email {
		font-size: 20px;
	}
}