---
title: About Me
filename: about_me
---

<body>
  
  <main class="container about_me">

    <div class="quote">
      <p>
        "Make the most of yourself for that is all there is of you.
        <br />
        -Ralph Waldo Emerson-
      </p>
    </div>
    
   <div class="row">

    <div class="col-md-4">

      <img src="images/debi_stickeler_life_coach_picture_cropped.jpg" class="img-responsive debi_stickeler_life_coach_picture">
    
    </div>

    <div class="col-md-8">   

      <p>
        I am a Life Coach in San Francisco who specializes in empowering individuals and couples, going through a variety of challenges and major life changes.  My work includes conflict resolution, interpersonal relationshps, healing betrayal and wounds and moving through grief and loss.  I focus on guiding clients to get in touch with their unique gifts and desires, teaching them the tools to be able to tap into their innate wisdom, and helping them awaken and recognize their unlimited skills and opportunities.  
        <br />
        I truly believe that the most important guidance system available to you is within you.  By simply listening to your own natural wisdom, taking full responsibility for your life, and turning every obstacle into an asset, you can bring about your most effective and lasting changes while simplifying your life.  As you work through the nagging limited beliefs that no longer serve you and begin to imagine and feel the power that you have within, you can experience positive changes quite quickly.   
        <br />
        Regardless of how challenging life circumstances may feel, you have the innate ability to create solutions for them.  As you become more aware of your own wisdom and powers, you will no longer feel as comfortable suffering from someone's or something's injurious actions.  To be enlightened by life's events, rather than to be a victim of them, is unquestionably a more powerful and enjoyable ride.  
      </p>
      
    </div>

  </div>
      
  <div class="container explanation">

    <h2 class="about_me_tabs">EMPATHY</h2>
    <P>
      After receiving a Bachelor's Degree from Temple University, I worked as a counselor for runaway children in an alternative runaway home in Philadelphia.  This was really my first experience coaching.  Although it was challenging, I really loved it and it started me on my path to becoming a mentor.  
    </P>

    <h2 class="about_me_tabs">AWARENESS</h2>
    <P>
      I then went back to school and received a paralegal certificate and worked in a law firm supporting under-privileged families.  This was a coaching experience on a greater scale, as I was exposed to all sorts of life situations, and helped implement legal and strategic solutions to family problems. 

    </P>

    <h2 class="about_me_tabs">PARENTING</h2>
    <p>
      From there I moved to San Francisco and my next important position was that of parenting.  I was raising a daughter while being a working parent, which gave me a crash course in balancing life’s goals.  Witnessing my daughter’s natural wisdom and inspiration, I worked to constantly improve myself.  It seemed for the first time I really understood unconditional love and what being non-judgmental was all about.  I also experienced compassion and appreciation on a whole new level which taught me the importance of my own self worth.   
    </p>

    <h2 class="about_me_tabs">BUSINESS</h2>
    <p>
      When my daughter turned two, I became the co-owner and co-creator of a successful landscape business.   Through this private proprietorship I gained a lot of knowledge about running a business and experienced the tremendous importance  of personal power.  Although the partnership ended years later with divorce, I steeled my resolve to stay strong and focused.  
    </p>

    <h2 class="about_me_tabs">LIFE COACHING</h2>
    <p>
      After that experience I realized that by doing work on myself I not only came into my own power, but was able to share my strengths with other people.  So  I made the conscious decision to go back to school for my M. A. which led to me starting my life coaching practice in 2010.  
    </p>

    <h2 class="about_me_tabs">THRIVING</h2>
    <p>
      Through it all I survived a seizure disorder, brain surgery, multiple miscarriages, the death of my  parents and a marital separation that led to both divorce and financial unrest.  To thrive I learned to stay as positive as possible and to take full responsibility for my life no matter what the circustances.  I made the conscious decision to keep my focus on the wisdom I received from each experience and as a result it enhanced the positive aspects and enlightened the process.
    </p>

  </div>

    

  </main>

</body>