---
title: About Me
filename: about_me
---
  
  <main class="container about_me">

     <div class="quote_box">
      <p class="thurman_quote quote">
       "Don’t ask what the world needs. Ask what makes you come alive, and go do it.  Because what the world needs is people who have come alive."
      </p>
      <p class="howard">-  Howard Thurman  -</p>
    </div>
    
   <div class="row">

    <div class="col-md-4">

      <img src="images/debi_stickeler_life_coach_picture_cropped.jpg" class="img-responsive debi_stickeler_life_coach_picture" alt="Debi Stickeler - Individual, Relathionship, and Life Coach">
    
    </div>

    <div class="col-md-8">   

      <p>
        I earned a Master's Degree in Creation Spirituality as well as an ICF approved Certified Professional Coaching certificate, after many years of self discovery.  My interest in self awareness and serving others began at a very young age and has continued throughout my life.  I have completed Healing Beyond Borders, Healing Touch Level 1 Certification, and The Power and Healing Basic Workshop in Core Shananism.  I have been a participant in the self-awareness and healing profession for over thirty years and have been honored to have participated in workshops with Deepok Chopra, Wayne Dyer, Eckhert Tolle, Esther Hicks-Abraham, Louise Hay, David Icke, Shirley MacLaine, Gregg Braden, Dr. Bruce Lipton, Byron Katie, Barbara Hand Clow, Barbara Marx Hubbard, and Patricia Ellsberg.    
      </p>
      <p>
        Through my education and experience I discovered that the most powerful guidance system available to you is already within you.  By simply listening to your own natural wisdom, taking full responsibility for your life, and turning every obstacle into an asset, you can bring about your most effective and lasting changes.   As you work through the nagging limited beliefs that no longer serve you and begin to imagine and feel the power that you have within, you can experience positive changes quite quickly while actually simplifying your life.  
      </p>
      <p>
        Regardless of how challenging life’s circumstances may feel, you have the innate ability to create solutions for them. As you become more aware of your own wisdom and powers, you will no longer feel as comfortable suffering from someone's or something's injurious actions. To be enlightened by life's events, rather than to be a victim of them, is unquestionably a more powerful and enjoyable ride.
      </p>
      
    </div>

  </div>
      
  <div class="container explanation">

    <h2 class="about_me_tabs">EMPATHY</h2>
    <P>
      After receiving A Bachelor’s Degree from Temple University I worked as a counselor for runaway children in an alternative runaway home in Philadelphia. This was my first experience coaching and the point at which I consciously experienced the natural ability we all have to empathize with others, no matter what their circumstances.  
    </P>

    <h2 class="about_me_tabs">AWARENESS</h2>
    <P>
      Returning to school, I received a Paralegal certificate and worked in a law firm supporting underprivileged families helping implement legal and strategic solutions to family problems.  This experience was a coaching experience on a greater scale.  It broadened my awareness as I was exposed to life situations that I had never encountered.  
    </P>

    <h2 class="about_me_tabs">NURTURING</h2>
    <p>
      My most important position to date is parenting. Witnessing my daughter’s natural wisdom inspired me to continually improve my understanding of unconditional love and non-judgment.  I also became aware of the importance of self worth and nurturing oneself with compassion and appreciation. 
    </p>

    <h2 class="about_me_tabs">COACHING</h2>
    <p>
       Experiencing the power of choosing a course of action that improved my life,  I felt that it was imprtant to share this information and my strengths with others.  Whether for self-care, managing grief and/or loss or trying to improve a relationship, I experienced first hand how coaching helps you discover effective ways to create a better life.  Working with a life coach can effectively facilitate personal growth, fulfillment and success.
    </p>

    <h2 class="about_me_tabs">THRIVING</h2>
    <p>
      Through surviving a seizure disorder, brain surgery, multiple miscarriages, the death of my parents and a marital separation that led to both divorce and financial unrest, I always made the conscious decision to stay as positive as possible, to find a gift in each situation and to take full responsibility for my life no matter what the circumstances.  I made a decision after many positive results that I would continue to keep my focus on the wisdom I received from my experiences, to graciously accept the guidance of great teachers, to share what I have learned in a compassionate and non-judgmental way, and forever enrich my thriving journey with a very festive sense of humor.  
    </p>

  </div>

    

  </main>