---
title: Contact Me
filename: contact_me
---

<main class="container contact_me">

	  	<p class="quote">
	        "You and I possess within ourselves, at every moment, under all circumstances, the power to transform the quality of our lives."
	        <br />
	        -Werner Erhard-
	    </p>

	    <p>
	      I’m easy to talk to, I promise you will feel comfortable and relieved to be sharing the thoughts and feelings that have been on your mind.  I create a safe, warm, and empathetic environment for us to work in.  I want to help you achieve the level of worth and empowerment you deserve.
	    </p> 
	    	<br />
	    <h4>
	      Give me a call or send me an email to set up a free consultation.
	    </h4>
	    	<br />
	    <p class="contact">
	    	<a href="tel:+1-415-412-2638">415-412-2638</a>
	    	<br />
	    	<a class="email" href="mailto:debilifecoach@comcast.net?subject=I'm ready to simplify my life" target="_blank">debilifecoach@comcast.net</a>
	    </p>

		<a  href="https://www.paypal.me/DebiStickeler/150">
			<img class="paypal" target="_blank" src="images/btn_paynow_LG.gif" alt="Paypal Button" >
		</a>
		

	    <div class="boxes">

			<div class="row">

				<div class="col-md-4">
					
					<img class="img-responsive" src="images/debi_stickeler_life_coach_inspirational_quote1_400x300_tiny.jpg" alt="Taking your power back">

					<h3 class="contact_boxes">
						Solutions
					</h3>

				</div>

				<div class="col-md-4">

					<img class="img-responsive" src="images/debi_stickeler_life_coach_inspirational_quote2_400x300_tiny.jpg" alt="Freeing yourself from a 'victim' mentality">
					
					<h3 class="contact_boxes">Resolutions
					</h3>

				</div>
				
				<div class="col-md-4">

					<img class="img-responsive" src="images/debi_stickeler_life_coach_inspirational_quote3_400x300_tiny.jpg" alt=" Simplifying your life">

					<h3 class="contact_boxes">Creations</h3>

				</div>

			</div>

		</div>

		<h1 class="testimonials">TESTIMONIALS</h1>
<!-- COPY AND PASTE THIS CODE AND PUT THE TESTIMONIAL INSIDE 
		
		<p class="testimonial">
			

			<br />
			

		</p>
-->

		<p class="testimonial">
			Debi gave me tools to use daily in interactions with my husband and daughter. I continue to use this "way of seeing or communicating" with beautiful results. We all want to be heard, understood and loved. Debi gives this support, and having received it, I can give it to others. She is direct and light hearted. Debi is a really honest person who uses a sixth sense to name the truth. She has helped me very much!
			<br />
			Pamela A. 
		</p>

		<p class="testimonial">
			“Debi Stickeler is one woman, in my opinion that embodies the capacity to move another human being to the highest understanding of a situation in one simple conversation.  Debi has broken through countless obstacles on her path toward self-knowingness and light. She has done so with more grace and courage than God could possibly ask. Debi embodies truth and wisdom and brings her messages to the heart with love.”
			<br />
			Dr. Rhonda Emmert, D.C.,  Wholistic Endocrinologist
		</p>

		<p class="testimonial">
			Debi has been my life coach since February 2010. 
            Her work is amazing!! 
            During these five years, she has enabled me to tap deeper and deeper into my natural wisdom. 
            It has been powerful for me to have Debi as a witness to my transformation. She sees my life challenges clearly and provides feedback in a positive and supportive way. She is quick to point out my successes and shares them with me joyously and enthusiastically.
            Working with Debi is the best personal investment I have ever made.
            She is a trusted partner in my personal and spiritual growth!
			<br />
			Maria Q.
		</p>

		<p class="testimonial">
			I am the mother of a child with Attention Deficit Disorder and Oppositional Defiant Disorder. As a parent, we think that we are always equipped to deal with whatever comes our way, but in my case, I lost my direction. I became overwhelmed with the fear, upset and frustration associated with the behavior and diagnosis of my son. I found Deb and am so very grateful that I did. She cleared the fog, and allowed me to see the things I needed to in order to move forward in a positive direction, and enable me to listen and understand my son without the anger associated with each interaction. Debi didn't lecture me... she listened, she empathized, she shared, but most of all she empowered me to understand that I do have control of my relationship with my son, this diagnosis and my life. With her guidance, humor, knowledge and her genuine concern, my vision is now clear, and I am forever grateful.
			<br />
			Abbey M.,  Nurse,Teacher 
		</p>

		<p class="testimonial">
			"Debi gives you a "PEACE" of her mind, and it works....you feel the peace."
			<br />
			Peter Ismert,  Artist
		</p>

		<p class="testimonial">
			I don't usually write reviews but I am compelled to do today. I've been blessed to work with Debi for at least 10 years, through the years she has become my mentor, my wise woman and my balance adjuster. 
			You know how you want to read all the help books that you see on Amazon or at a bookstore but you never actually get to? Well, Debi has read them all!
			You know how you need someone wise to push you to a solution or path that you already know is yours? 
			Debi will know exactly what is best and objectively show you the way!
			My life has been a fabulous journey and many thanks for that to Debi. I've gotten praise, I've gotten a kick in the butt and the kind hug of all ver wisdom when I needed it the most. 
			Bring everything to the table with this lady- career, relationships, the dilemmas of life and of course personal goals and resolution of conflicts and all will be so much better and it will just all flow. You will feel better and sturdier as you walk out her door.
			<br />
			Elena N. 
		</p>

		<p class="testimonial">
			Debi is highly intuitive and compassionate. Her gentle and nurturing style allows a person to relax, breathe in the moment and truly access their natural wisdom. If you are ready to tap into your innate guidance system, hire Debi to support you in walking the path.
			<br />
			Kimberley Elliott, MLA  Creativity Life Coach (Juicy Living)
		</p>

		<p class="testimonial">
			“I started working with Debi when I was going through a difficult transition in my life. She really listened to what I was saying and feeling not only heard, but understood was huge. She didn't try to force her agenda or push me in any direction, but instead guided me to find the answers within and brought me to a place of inner knowing and peace. I continue to work with Debi when situations arise and always walk away with more clarity. She has an innate ability to do this work!”
			<br />
			Elise Angell,  Living Whole Body
			Health and Life Coach, Yoga Instructor  
		</p>

		<p class="testimonial">
			“Debi combines a gift of keen intuition with the sensitivity and compassion of a good empathetic listener.  Her rich life experience as a scholar, a mother, and a transcendent survivor of a life-threatening illness combine to make her an exceptional guide and ally."
			<br />
			Rich Mertes, Teacher, Musician, Poet
		</p>

		<p class="testimonial">
			The best thing about Debi's coaching abilities for me is that she made me feel so comfortable from the moment I walked in. This really helped me get to the deeper issues because I was so at ease. Even though I can only see her when I am in San Francisco periodically, it makes the trip worthwhile! She honed right in on several challenges and even recommended books for me to read since I cant go all the time. The books were perfect! I really feel she has an intuitive sense that allows her to move swiftly right to the issues that I couldn't see. I highly recommend her.
			<br />
			Mandy S. 
		</p>

		<p class="testimonial">
			Debi Stickler is so compassionate and wise. Her manner is non-judgemental and non-intimidating, therefore letting crucial thoughts and feelings surface. These qualities make her a fantastic life coach! We must reach the roots of issues before we can grow and flourish and she is an amazing facilitator in this process. Thank you Debi!!!!
			<br />
			Elizabeth C. 
		</p>

		<p class="testimonial">
			Debi continues to be a tremendous gift to me in my life. Every time she works with me, I bask in her spirit's light. She helps me re-center myself to get back on track with life as adventure and play, rather than the myth of life as drudgery, which I tended to slip into without even being aware that I was doing so. 

			As the mother of three spirited children, now young adults, Debi has been instrumental in my keeping the faith, especially during that long, dark adolescent corridor. Debi brought me back to my inner knowingness of my children's beauty, and worked with me to restore the damage to those relationships that resulted from what amounted to a very difficult passage from infancy to adulthood for all three of my offspring. She listens with her mind and her heart simultaneously, taking it all in, and guides me with her extraordinary intuition and compassion. 

			With her guidance, I am able to sort out my feelings, and gain clarity in the situation at hand. She assists me in developing and implementing action plans that move me forward to where I want to be in my individual life goals and in my cherished relationships. I am so grateful to Debi for being there for me, through it all, and comforted to know that will always be the case, as I march forward to the life dreams still ahead for me. Debi has helped me bring the fun back into the journey. When I embrace her teachings that life is our playground, my life lights up; the synchronicities start flowing again, and all is well, as it is meant to be, for all of us.
			<br />
			Sally, Lecturer, Consultant
		</p>

		<p class="testimonial">
			The thing that I appreciate most about Debi is her enthusiasm for helping others. Her energy as a therapist is amazing! She listens to what I say and discusses things in such a way to give me a deeper understanding of myself.  

			Debi helped me move towards my goals and clear old "baggage" holding me back. While she is very compassionate, she has helped me gain clarity through my natural wisdom with honest non-judgmental feedback. This has given me much peace and a better understanding of my life. This is something that you can't put a price on.  

			What a great massage therapist does for your body, Debi does for your mind and soul.
			<br />
			Sandy P., College Professor
		</p>

		<p class="testimonial">
			Debi, is is insightful, caring and above all supportive. She is able to apply her natural wisdom and strength to assist in working through a difficult time. Debi is especially gifted at and helping to identify issues and teaching coping strategies that can be learned and applied throughout many of life's situations.
			<br />
			Lisa U. 
		</p>

		<p class="testimonial">
			Debi has been working with me for many years and has proved herself to be an extremely knowledgeable and intuitive counselor. She has helped me through many life crises with her professional and personal insights as well as her compassion. I would highly recommend Debi to anyone seeking a wise and nuturing counselor.
			<br />
			Lynda E. 
		</p>

		<p class="testimonial">
			Debi's a great coach. She's got the perfect combination of wisdom and humor'and humor is underrated when it comes to self-improvement. That's not to say she makes light of important subjects. Not at all. But she has a knack for creating a safe space for you to process, and in that space you arrive at a more light-hearted perspective on your life. It works.
			<br />
			Judy B. 
		</p>

		<p class="testimonial">
			Debi has wisdom and life experience. She listens carefully, responds with empathy and never judges. She offers clarity when there's confusion and suggests direction when you are directionless. I can't recommend Debi enough. She has that rare combination of kindness, spirit, and intelligence.
			<br />
			Beth Gabow, Teacher
		</p>

		<p class="testimonial">
			“Debi's natural abilities as an intuitive and compassionate person are ideal traits for a Life Coach.  Combined with her capability to meet life's challenges with hope, courage and faith, she has the dynamic qualities necessary for a Life Coach par excellence.  Debi brings many years of doing this naturally for others into a professional setting, and makes a profound positive impact on those who seek her services.” 
			<br />
			Donna D'Ingillo, Director,  Center for Christ Consciousness 
		</p>

		<p class="testimonial">
			“Debi is passionate about sharing her innate spiritual gifts.  She is a generous, active and a non-judgmental listener who truly seeks to help enlighten and nurture. Debi brings light to the truth.” 
			<br />
			Susan Malackie, Recruiter
		</p>

		<p class="testimonial">
			“Debi has a way of listening that makes people feel safe and heard at the deepest level.  She combines this empathy with her delightful humor and an innate and experiential wisdom, enabling people to find their fullest richest truths.”
			<br />
			Jane Straus, Relationship Expert, Bestselling Author, and Radio Host: Ask Jane Show, Green 960 AM, Books: Enough Is Enough! & The Blue Book of Grammar and Punctuation. (Jane passed away but I leave her words to remember what an honor it was to have had her in my life.  Her spirit and wisdom live on.)
		</p>

    </main>