---
title: Debi Life Coach
filename: index
---

	<div class="container debi_life_coach">
				
				<div class="quote_box">
				<!-- <img class="debi_home_pic" src="images/debi_home_page/debi_stickeler_life_coach_home_page_400x533_tiny.png" alt="Debi Stickeler Life Coach Picture"> -->
					
				</div>	
		<div class="boxes">
			<div class="row">
				<div class="col-md-4">
					<img class="img-responsive" src="images/debi_life_coach_flower1_500x375_tiny.jpg" alt="Taking your power back" height="300" width="400">

					<div class="inside_box">
						<div class="one_line">
							SOLUTION:
						</div>
						<p>
							A means of solving a problem or dealing with a difficult situation.
							<br />
							<br />
							A specified result achieved from an unresolved situation.
							<br />
							<br />
							Finding the answer to a puzzle. 
						</p>
					</div>
				</div>

				<div class="col-md-4">
					<img class="img-responsive" src="images/debi_life_coach_flower2_500x375_tiny.jpg" alt="Freeing yourself from a 'victim' mentality" height="300" width="400">

					<div class="inside_box">
						<div>
							RESOLUTION:
						</div>
						<p>
							The action of solving a problem, dispute, or contentious matter.
							<br />
							<br />
							A firm decision to do or not to do something.
							<br />
							<br />
							The disappearance of a symptom or condition.
						</p>
					</div>
				</div>
				
				<div class="col-md-4">
					<img class="img-responsive" src="images/debi_life_coach_flower3_500x375_tiny.jpg" alt="Simplifying your life" height="300" width="400">

					<div class="inside_box">
						<div>
							CREATION:
						</div>
						<p>
							An original product of the mind, especially an imaginative artistic work.
							<br />
							<br />
							The act of making, inventing, or producing.
							<br />
							<br />
							The action or process of bringing something into existence.
							<br />
							</p>
					</div>

				</div>

			</div>
		</div>
		<p class="quote debi_quote white_writing">Coaching individuals and couples in conflict to arrive at peaceful and positive resolutions.
					</p>
			<p>
				As an Individual and Relationship Coach in San Francisco I specialize in conflct resolution, interpersonal relationships, and healing betrayal and wounds while moving through grief and loss.  I focus on guiding clients to get in touch with their unique gifts and desires while finding solutions for their circumstances.
			</p>

			<h4><div class="bold home_page_titles">The Fundamentals of Relationship Coaching include:</div></h4>

			<ul class="fundamentals"> 
				<li>
					Providing a confidential dialogue
				</li>
				<li>
					An opportunity for each person to be heard
				</li>
			
				<li>
					Revealing the relationship's challenges and the potential for change
				</li>
			
				<li>
					Improving communication
				</li>
			</ul>	

			<h4>
				<div class="home_page_titles bold">Individual Empowerment Coaching assists you in:</div>
			</h4>

			<ul class="fundamentals"> 
				<li>
					Freeing up energy, reducing stress and learning to attract  
     what you want in a healthy productive way
				</li>
				
				<li>
					Empowering yourself by taking full responsibility for your life, no 
     matter what your circumstances
				</li>
				
				<li>
					Creating more joyful and dynamic experiences
				</li>
			</ul>

			<p class="home_final_phrase">
				You have the power to create the life you deserve
			</p>		
			
			<p class="homepage_aboutlink">
				<a href="/about_me.html">Find out more</a>
			</p>
			<!-- <h1 class="black_writing">As a coach, I can assist you with</h1> -->
		
			
	</div>
