---
title: Debi Life Coach
filename: index
---

	<div class="container debi_life_coach">
				
				<div class="quote_box">
				<!-- <img class="debi_home_pic" src="images/debi_home_page/debi_stickeler_life_coach_home_page_400x533_tiny.png" alt="Debi Stickeler Life Coach Picture"> -->
					<p class="quote debi_quote white_writing">Coaching individuals and couples in conflict to arrive at peaceful and positive resolutions.
					</p>
				</div>	
			
			<p>
				As an Individual and Relationship Coach in San Francisco I specialize in conflct resolution, interpersonal relationships, and healing betrayal and wounds while moving through grief and loss.  I focus on guiding clients to get in touch with their unique gifts and desires while finding solutions for their circumstances.
			</p>

			<p class="bold home_page_titles">The Fundamentals of Relationship Coaching include:</p>
			<ul class="fundamentals"> 
				<li>
					Providing a confidential dialogue
				</li>
				<li>
					An opportunity for each person to be heard
				</li>
			
				<li>
					Revealing the relationship's challenges and the potential for change
				</li>
			
				<li>
					Improving communication
				</li>
			</ul>	

			<p class="bold home_page_titles">Individual Empowerment Coaching assists you in:</p>
			<ul class="fundamentals"> 
				<li>
					Freeing up energy, reducing stress and learning to attract  
     what you want in a healthy productive way
				</li>
				
				<li>
					Empowering yourself by taking full responsibility for your life, no 
     matter what your circumstances
				</li>
				
				<li>
					Creating more joyful and dynamic experiences
				</li>
			</ul>

			<p>
				Whether there is conflict within yourself or within your relationship, it is time to move forward with solutions.  With your commitment and dedicated efforts, your process can be simple and time-efficient.  You have the power to create the life you deserve.
			</p>		

			<h1 class="black_writing">As a coach, I can assist you with</h1>
		<div class="boxes">
			<div class="row">
				<div class="col-md-4">
					<img class="img-responsive" src="images/debi_life_coach_flower1_500x375_tiny.jpg" alt="Taking your power back" height="300" width="400">

					<div class="inside_box">
						<div class="one_line">
							Solutions
						</div>
						<p>
							Clarifying the obstacles.
							<br />
							<br />
							Creating a strategy to move forward.
							<br />
							<br />
							Solution-building rather than problem-solving.
						</p>
					</div>
				</div>

				<div class="col-md-4">
					<img class="img-responsive" src="images/debi_life_coach_flower2_500x375_tiny.jpg" alt="Freeing yourself from a 'victim' mentality" height="300" width="400">

					<div class="inside_box">
						<div>
							Resolutions
						</div>
						<p>
							<!-- Changing patterns of behavior that no longer serve.
							<br/ > -->
							Taking personal responsibility for your part in conflict.
							<br />
							<br />
							Willingness to listen without judgment.
							<br />
							<br />
							Moving on without taking things personally.
							<!-- <br />
							Forgiving yourself. -->
						</p>
					</div>
				</div>
				
				<div class="col-md-4">
					<img class="img-responsive" src="images/debi_life_coach_flower3_500x375_tiny.jpg" alt="Simplifying your life" height="300" width="400">

					<div class="inside_box">
						<div>
							Creations
						</div>
						<p>
							Envisioning future successes.
							<br />
							<br />
							Actualizing with confidence.
							<br />
							<br />
							Manifesting the life you deserve.
							<br />
							</p>
					</div>

				</div>

			</div>
		</div>
			
	</div>
