---
title: Debi Life Coach
filename: index
---

<body>

	<div class="container debi_life_coach">

					<p class="quote">“Don’t ask what the world needs. Ask what 	makes you come alive, and go do it. 		Because what the world needs is people 		who have come alive.”
						<br />
						-Howard Thurman-
					</p>

			<article>
				There is nothing more rewarding than remembering how authentically gifted you naturally are and recognizing that within you are the capabilities to master and simplify your life.
				<br /> 
				By working with a life coach you can accelerate this personal empowerment process, enhancing success, wisdom, and fulfillment.
				<br />
				I truly believe that happiness is a birthright and when we live our lives as the extraordinary beings that we naturally are, not only do we individually reap the benefits, we also vibrate this positive energy to others.  
			</article>


			<h1 class="black_writing">As a life coach, I can assist you in</h1>
		<div class="boxes">
			<div class="row">
				<div class="col-md-4">
					<img class="img-responsive" src="images/debi_stickeler_life_coach_image_with_quote1_400x300_tiny.jpg" alt="Taking your power back" height="300px" width="400px">
						<!-- <h3>
							Taking your power back
						</h3> -->
				</div>

				<div class="col-md-4">
					<img class="img-responsive" src="images/debi_stickeler_life_coach_image_with_quote2_400x300_tiny.jpg" alt="Freeing yourself from a 'victim' mentality" height="300px" width="400px">
						<!-- <h3>
							Freeing yourself from a “victim” mentality
						</h3> -->
				</div>
				
				<div class="col-md-4">
					<img class="img-responsive" src="images/debi_stickeler_life_coach_image_with_quote3_400x300_tiny.jpg" alt="Simplifying your life" height="300px" width="400px">
						<!-- <h3>
							Simplifying your life
						</h3> -->
				</div>

			</div>
		</div>
			
	</div>


</body>