---
title: Debi Life Coach
filename: index
---

	<div class="container debi_life_coach">
				
				<div class="quote_box">
				<!-- <img class="debi_home_pic" src="images/debi_home_page/debi_stickeler_life_coach_home_page_400x533_tiny.png" alt="Debi Stickeler Life Coach Picture"> -->
					<p class="quote debi_quote white_writing">I coach individuals and couples in conflict to arrive at peaceful and positive resolutions.
					</p>
				</div>	
			
			<p>
				As an Individual and Relationship Coach in San Francisco I specialize in conflct resolution, interpersonal relationships, and healing betrayal and wounds while moving through grief and loss.  I focus on guiding clients to get in touch with their unique gifts and desires while finding solutions for their circumstances.
			</p>

			<p class="bold">The Fundamentals of Relationship Coaching include:</p>
			<ul class="fundamentals"> 
				<li>
					Providing a confidential dialogue
				</li>
				<li>
					An opportunity for each person to be listened to
				</li>
				<li>
					An opportunity for each person to really hear what they are sharing
				</li>
				<li>
					To reveal the relationship's difficulties and the potential for change
				</li>
				<li>
					Give an appropriate assessment and offer tools of support
				</li>
				<li>
					Improve communication
				</li>
			</ul>	

			<p class="bold">Individual Empowerment Coaching Assists you in:</p>
			<ul class="fundamentals"> 
				<li>
					Freeing up energy, reducing stress and learning to attract  
     want you want in a healthy productive way
				</li>
				<li>
					Having personal freedom by taking full responsibility for your life, no 
     matter what your circumstances
				</li>
				<li>
					Making meaningful choices that simplify your life
				</li>
				<li>
					Creating more joyful and dynamic experiences
				</li>
			</ul>

			<p>
				Whether there is conflict within yourself or within your relationship, it is time to move forward with solutions.  With your commitment and dedicated efforts, your process can be simple and time-efficient.  No matter your circumstances, you deserve to be happy.
			</p>		

			<h1 class="black_writing">As a coach, I can assist you in</h1>
		<div class="boxes">
			<div class="row">
				<div class="col-md-4">
					<img class="img-responsive" src="images/debi_life_coach_flower1_500x375_tiny.jpg" alt="Taking your power back" height="300" width="400">

					<div class="inside_box">
						<div class="one_line">
							Moving Forward with Solutions
						</div>
						<p>
							Solution-building rather than problem-solving.
							<br />
							Emphasis on desired future rather than concentrating on past problems or current conflicts.
							<br/ >
							Minimize emphasis on past failings and problems, and focus on strenghts and previous successes.  
						</p>
					</div>
				</div>

				<div class="col-md-4">
					<img class="img-responsive" src="images/debi_life_coach_flower2_500x375_tiny.jpg" alt="Freeing yourself from a 'victim' mentality" height="300" width="400">

					<div class="inside_box">
						<div>
							Finding Resolution
						</div>
						<p>
							Changing patterns of behavior that no longer serve.
							<br/ >
							Taking personal responsibility for your part in conflict.
							<br />
							Willingness to listen without judgment.
							<br />
							Not taking things personally.
							<br />
							Forgiving yourself.
						</p>
					</div>
				</div>
				
				<div class="col-md-4">
					<img class="img-responsive" src="images/debi_life_coach_flower3_500x375_tiny.jpg" alt="Simplifying your life" height="300" width="400">

					<div class="inside_box">
						<div>
							Creating the Life You Deserve
						</div>
						<p>
							Remembering you are born with the inherent ability to create a joyful existence for yourself.
							<br />
							Trusting your natural wisdom, it is your greatest gift and wisest teacher.
							<br />
							Taking responsibility for the consequences of your circumstances, there is nothing more powerful and rewarding. 
							<br />
							<!-- Laughing a lot! -->
						</p>
					</div>

				</div>

			</div>
		</div>
			
	</div>
