---
title: Debi Life Coach
filename: index
---

	<div class="container debi_life_coach">
				
				<div class="quote_box">
				<!-- <img class="debi_home_pic" src="images/debi_home_page/debi_stickeler_life_coach_home_page_400x533_tiny.png" alt="Debi Stickeler Life Coach Picture"> -->
					<p class="quote debi_quote">“I coach couples in conflict to arrive at a peaceful and positive resolution.”
					</p>
				</div>	
				

			<ul class="bullets">
				<li>
					<span class="first_bullet_part">Whether there is conflict within yourself or within your relationship,
					</span>
						<br /> 
					<span class="second_bullet_part">it is time to move forward with solutions.
					</span>
				</li> 
				
				<li>
					<span class="first_bullet_part">With your commitment and dedicated efforts,
					</span>
						<br />
					<span class="second_bullet_part">your process can be simple and time-efficient.
					</span> 
				</li>
				
				<li>
					<span class="first_bullet_part  end1">No matter your circumstances,</span>
						<br />
					<span class="second_bullet_part end2">you deserve to be happy.
					</span>
				</li>
			</ul>


			<h1 class="black_writing">As a coach, I can assist you in</h1>
		<div class="boxes">
			<div class="row">
				<div class="col-md-4">
					<img class="img-responsive" src="images/debi_life_coach_flower1_500x375_tiny.jpg" alt="Taking your power back" height="300" width="400">

					<div class="inside_box">
						<div class="one_line">
							Freeing yourself from 
							<br /> 
							a "victim" mentality
						</div>
						<p>
							Forgiveness is not always about absolving another but has everything to do with relieving yourself of the burden of being a victim.  Feel the relief when you take responsibility for the consequences of your circumstances.  It is not only extremely powerful but quite freeing. 
						</p>
					</div>
				</div>

				<div class="col-md-4">
					<img class="img-responsive" src="images/debi_life_coach_flower2_500x375_tiny.jpg" alt="Freeing yourself from a 'victim' mentality" height="300" width="400">

					<div class="inside_box">
						<div>
							Taking your power back
						</div>
						<p>
							Trust your natural wisdom, it is your greatest gift and most powerful teacher. Remember, you are the writer, producer, and director of your own story, so you have the ability to change your script at anytime.
						</p>
					</div>
				</div>
				
				<div class="col-md-4">
					<img class="img-responsive" src="images/debi_life_coach_flower3_500x375_tiny.jpg" alt="Simplifying your life" height="300" width="400">

					<div class="inside_box">
						<div>
							Simplifying your life
						</div>
						<p>
							You were born with the inherent ability to create a joyful existence for yourself. Challenges will always arise so why not take advantage of each opportunity and choose to meet them with a little more wonder and awe.  Taking responsibility for how you handle your experiences will naturally bring you relief and will always offer you the ability to simplify.
						</p>
					</div>

				</div>

			</div>
		</div>
			
	</div>
