---
title: Debi Life Coach
filename: index
---

<body>

	<div class="container debi_life_coach">

					<p class="quote">“Don’t ask what the world needs. Ask what 	makes you come alive, and go do it. 		Because what the world needs is people 		who have come alive.”
						<br />
						-Howard Thurman-
					</p>

			<article>
				There is nothing more rewarding than remembering how authentically gifted you naturally are and recognizing that within you are the capabilities to master and simplify your life.
				<br /> 
				By working with a life coach you can accelerate this personal empowerment process, enhancing success, wisdom, and fulfillment.
				<br />
				I truly believe that happiness is a birthright and when we live our lives as the extraordinary beings that we naturally are, not only do we individually reap the benefits, we also vibrate this positive energy to others.  
			</article>


			<h1 class="black_writing">As a life coach, I can assist you in</h1>
		<div class="boxes">
			<div class="row">
				<div class="col-md-4">
					<img class="img-responsive" src="images/debi_life_coach_flower1_500x375_tiny.jpg" alt="Taking your power back" height="300px" width="400px">

					<div class="inside_box">
						<h3>
							Freeing yourself from a "victim" mentality
						</h3>
						<p>
							Forgiveness has nothing to do with absolving another.  It has everything to do with relieving yourself of the burden of being a victim.
							Feel the freedom, take back your life!
						</p>
					</div>
				</div>

				<div class="col-md-4">
					<img class="img-responsive" src="images/debi_life_coach_flower2_500x375_tiny.jpg" alt="Freeing yourself from a 'victim' mentality" height="300px" width="400px">

					<div class="inside_box">
						<h3>
							Taking your power back
						</h3>
						<p>
							Trust your natural wisdom, it is your greatest gift and most powerful asset.  You are the writer, producer, and director of your play.  If you don't like the script, change it!
						</p>
					</div>
				</div>
				
				<div class="col-md-4">
					<img class="img-responsive" src="images/debi_life_coach_flower3_500x375_tiny.jpg" alt="Simplifying your life" height="300px" width="400px">

					<div class="inside_box">
						<h3>
							Simplify
						</h3>
						<p>
							You are born with the inherent ability to create a joyful existence for yourself so simply celebrate and experience with wonder and awe!
						</p>
					</div>

				</div>

			</div>
		</div>
			
	</div>


</body>